section {
  width: 100%;
  height: auto;

  border: 1px dashed gainsboro;
  padding: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section > div {
  border: 1px dotted grey;
  width: 90%;
  margin: 10px;
}

#divTitle {
  background-color: rgb(234, 247, 255);
  padding: 25px 20px;

  font-size: x-large;
  font-weight: bold;
  text-align: center;
}

#divContent {
  padding: 20px 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#divContent > div {
  width: 100%;
  height: 80px;
  padding: 10px;
  margin: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.sp0,
.sp1,
.sp2,
.sp3,
.sp4 {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 60px;
  height: 60px;
  color: white;

  border-radius: 50%;
  margin: 5px;
  font-size: large;
  font-weight: bold;
}

.sp0 {
  background-color: brown;
}

.sp1 {
  background-color: chocolate;
}

.sp2 {
  background-color: darkgreen;
}

.sp3 {
  background-color: darkblue;
}

.sp4 {
  background-color: blueviolet;
}

#spplus {
  font-size: xx-large;
  font-weight: bold;
  color: gray;
}

button {
  width: 30%;
  display: inline-flex;
  margin: 5px;
}
