section {
  width: 100%;
  height: auto;

  border: 1px dashed gainsboro;
  padding: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section > div {
  border: 1px dotted grey;
  width: 90%;
  margin: 10px;
}

#title {
  background-color: rgb(234, 247, 255);
  padding: 30px 20px;

  font-size: x-large;
  font-weight: bold;
  text-align: center;
}

#game {
  padding: 20px 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#dice {
  display: flex;
  justify-content: center;
  align-items: center;
}

#computer,
#user {
  margin: 20px;
}

p {
  font-size: x-large;
  font-weight: bold;
}

img {
  margin-bottom: 5px;
}

button {
  font-weight: normal;

  border-radius: 5px;
  padding: 13px;

  background-color: rgb(0, 123, 255);
}

#result {
  padding: 20px;

  text-align: center;
  font-weight: bold;
  font-size: x-large;
}
