section {
  width: 100%;
  height: auto;

  border: 1px dashed gainsboro;
  padding: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section > div {
  border: 1px dotted grey;
  width: 90%;
  margin: 10px;
}

#title {
  background-color: rgb(234, 247, 255);
  padding: 25px 20px;

  font-size: x-large;
  font-weight: bold;
  text-align: center;
}

#game {
  padding: 20px 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img {
  margin: 20px;
  height: 200px;
}

input[type="number"] {
  padding: 10px;
  border: 2px solid;
  border-radius: 5px;
}

button {
  font-weight: normal;

  border-radius: 5px;
  padding: 13px;

  background-color: rgb(71, 27, 168);
}

button:hover {
  background-color: rgb(153, 106, 170);
}
