section {
  width: 100%;
  height: auto;

  border: 1px dashed gainsboro;
  padding: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section > div {
  border: 1px dotted grey;
  width: 90%;
  margin: 10px;
}

#title {
  background-color: rgb(234, 247, 255);
  padding: 25px 20px;

  font-size: x-large;
  font-weight: bold;
  text-align: center;
}

#converter {
  padding: 20px 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#div1,
#div2 {
  width: 90%;
  height: 30px;
  margin-bottom: 10px;
}

#div1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  margin-bottom: 5px;
}

select {
  margin-right: 20px;
  width: 90%;
  height: 30px;
}

input {
  margin-top: 10px;
  width: 80%;
  height: 30px;
}

#num2 {
  background-color: rgb(253, 246, 202);
}

label {
  font-weight: bold;
}

button {
  font-weight: normal;

  border-radius: 5px;
  padding: 13px;

  background-color: rgb(0, 123, 255);
}
